input.error {
  background-color: red;
  font-weight: bold;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1,
header h4 {
  margin: 0;
}
header h1 {
  padding: 10px;
  font-family: "Black Han Sans";
  font-size: 50px;
}
main {
  display: flex;
  justify-content: center;
}
main section.microwave {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
main section.microwave figure {
  margin: 0;
}
main section.microwave figure img {
  max-width: 100%;
}
main section.microwave section.controls {
  display: flex;
  justify-content: center;
}
main section.microwave section.controls form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
main section.microwave section.controls form a.modtime {
  text-decoration: none;
  color: black;
  font-size: 25px;
  background-color: whitesmoke;
  width: 25px;
  height: 25px;
  border: 1px solid #cecfd4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}
main section.microwave section.controls form a.modtime:hover {
  background-color: #cecfd4;
}
main section.microwave section.controls form input[name="time"] {
  margin-left: 5px;
  width: 50px;
  min-height: 25px;
  text-align: center;
  outline: none;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
main section.microwave section.controls form select {
  height: 30px;
  outline: none;
  margin-left: 15px;
}
main section.microwave section.controls form input[type="submit"] {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 15px;
  transition: all 0.2s ease;
  outline: none;
}
main section.microwave section.controls form input[type="submit"]:hover {
  background-color: #cecfd4;
  transition: all 0.2s ease;
  cursor: pointer;
}
main table.queue {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main table.queue tbody.header {
  width: 90%;
}
main table.queue tbody.header tr {
  display: flex;
  justify-content: center;
}
main table.queue tbody.header tr th {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}
main table.queue tbody.body {
  width: 90%;
  max-height: 300px;
  overflow-y: scroll;
}
main table.queue tbody.body tr {
  display: flex;
  justify-content: center;
}
main table.queue tbody.body tr th,
main table.queue tbody.body tr td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}
main table.queue tbody.body tr:nth-child(even) {
  background-color: whitesmoke;
}
main table.queue tbody.body tr:hover {
  background-color: #cecfd4;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  min-height: 30px;
}
